.navbar{
    width: 100%;
    padding: 20px 0px ;
    position: absolute;
    z-index: 2;
}
.navbar__wrapper{
    display: flex;
    justify-content: center;
}
.navbar__logo{
    width: 20%;
}
.navbar__menu{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar__item{
    display: flex;
    justify-content:right;
    column-gap: 70px;

}
.navbar__items{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: var(--primary-transition);
}
.navbar__items:hover{
    color: var(--primary-color);
}